  /* DOCUMENT */

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: black;
    font-family: 'Gelasio', serif;
    color: white;
  }

  .container {
    background-color: black;
    height: 100%;
    color: white;
    width: 100vw;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  p {
    color: white;
    font-size: 2vw;
  }

  hr {
    border-top: 3px solid #bbb;
    width: 85%;
  }

  /* NAVBAR */

  .navbar-brand {
    font-size: max(2vw, 20px);
  }

  .navMenu {
    margin-left: 50%;
  }

  /* Landing Page */

  #landingPage {
    margin-top: 5%;
    text-align: center;
  }

  .icons {
    justify-content: center;
    /* margin-left: 35%; */
  }

  .fa {
    /* display: inline-block; */
    margin-right: 3%;
    /* max-height: fit-content; */
  }

  /* .fa-github {
    display: inline-block;
    margin-left: 10px;
    max-height: fit-content;
  } */

  /* ABOUT */

  .card {
    color: black;
  }

  .appDiv {
    width: auto;
    /* margin-left: 5%;
    margin-right: 5%; */
    /* 
  position: relative;
    width: auto;
    height: auto; */
    text-align: center;
  }

  .appCards {
    width: 11rem;
    max-height: 15rem;
    display: inline-block;
    /* float: left; */
    margin: 1%;
    /* align-self: center; */
  }

  .imgCard {
    color: whitesmoke;
    background-color: black;
    /* margin: 1%; */
    display: inline-block;
  }

  .appImg {
    max-height: 35%;
    max-width: 100%;
  }

  .buttonDiv {
    text-align: center;
  }

  .button {
    background-color: black;
    color: white;
    font-size: 14px;
    /* padding: 16px 32px; */
    border-radius: 5px;
    margin-bottom: 5px;
    height: 100%;
    width: 40%;
  }

  #headshot {
    max-width: 100%;
    max-height: 100%;
    margin-left: 20%;
    float: left;
  }

  #aboutText {
    color: white;
    font-size: 2.2vw;
    float: left;
  }

  li {
    font-size: 2vw;
  }

  /* PORTFOLIO */

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  /* 
  .middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  } */

  .container:hover .projectImage {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  /* .projectImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding-bottom: 10px;
    margin-bottom: 5px; */

  .projectButton {
    margin-bottom: 5px;
  }

  /* RESUME */

  h6, h1, h2 {
    text-align: center;
  }

  .pdf {
    display: block;
    margin: auto;
  }

  /* CONTACT */

  li {
    line-height: 2vw;
  }


  #contact-form {
    /* margin-left: 5vw; */
  }

  .contactInfo {
    margin-top: 3.5vw;
  }

  /* MEDIA QUERIES */

  @media only screen and (max-width: 375px) {
    .appCards {
      width: 10rem;
      /* height: 15rem; */
      /* display: inline-block;
      margin: 1%; */
    }
    .contactInfo {
      margin-top: 0vw;
    }
  }

  @media only screen and (max-width: 414px) {
    p {
      font-size: 5vw;
    }

    .contactInfo {
      margin-top: 0vw;
    }
    /* .icons {
      display: flex;
      margin-right: 5%;
      
    }

    .fa {
      margin-right: 5%;
    }
    .fa-linkedin {
    
      margin-left:%;
    
    }
    .fa-github {
    
      margin-left: 5vw;
    
    } */
  }

  @media only screen and (min-width: 993px) {
    .imgCard {
      margin: 1%;
      display: inline-block;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }