  /* DOCUMENT */

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: black;
    font-family: 'Gelasio', serif;
    color: white;
  }

  .container {
    background-color: black;
    height: 100%;
    color: white;
    width: 100vw;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  p {
    color: white;
    font-size: 2vw;
  }

  hr {
    border-top: 3px solid #bbb;
    width: 85%;
  }

  /* NAVBAR */

  /* .navbar-brand{
    float: left;
  }

  .navMenu {
    
    margin-left: 50%;
   
  } */

  /* Landing Page */

  #landingPage {
    margin-top: 5%;
    text-align: center;
  }

  #aboutText {
    color: white;
    font-size: 2.2vw;
  }

  .icons {
    /* justify-content: center; */
    margin-left: 41%;
  }

  .fa-linkedin {
    display: inline-block;
    margin-right: 10px;
    max-height: fit-content;
  }

  .fa-github {
    display: inline-block;
    /* margin-left: 10px; */
    max-height: fit-content;
  }

  /* ABOUT */

  #headshot {
    max-width: 90%;
    max-height: 90%;
    margin-left: 10%;
  }

  /* PORTFOLIO */

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  /* 
  .middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  } */

  .container:hover .projectImage {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: auto;
  }

  .projectImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding-bottom: 10px;
    margin-bottom: 5px; */
  }

  .projectButton {
    margin-bottom: 5px;
  }

  /* RESUME */

  h6, h1, h2 {
    text-align: center;
  }

  .pdf {
   display: block;
   margin: auto;
  }

  /* CONTACT */

  #contact-form {
    margin-left: 5vw;
  }

  .contactInfo {
    margin-right: 5vw;

  }

  /* MEDIA QUERIES */

  @media only screen and (max-width: 375px) {
    .fa-linkedin {
    
      margin-left: -30;
    
    }
    .fa-github {
    
      margin-left: 5vw;
    
    }

    .icons {
      /* justify-content: center; */
      margin-left: 35%;
    }
  }

  @media only screen and (max-width: 768px) {

    #headshot {
      max-width: 90%;
      max-height: 90%;
      margin-left: 10%;
    }

    #aboutText {
      margin-left: 0%;
    }
 

  }

