/* DOCUMENT */

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Gelasio", serif;
  color: white;
}

.container {
  padding: 10px;
  /* background-color:rgb(31, 23, 23); */
  height: 100%;
  color: white;
  width: 100vw;
  margin-bottom: 0%;
  padding-bottom: 0vw;
  padding-top: 2vw;
}

p {
  color: white;
  font-size: 2vw;
}

hr {
  /* border-top:  solid #bbb; */
  width: 85%;
}

img {
  height: 100%;
  width: 100%;
  border: rgb(204, 204, 204) 1.8px solid;
  /* box-shadow: 0 0 10px rgb(200, 180, 180); */
  /* box-shadow: .5px .5px rgb(214, 206, 206); */
}

/* NAVBAR */

.navbar-brand,
.nav-item {
  font-size: max(2vw, 20px);
}

.navMenu {
  margin-left: 50%;
}

/* LANDING PAGE */

#landingPage {
  margin-top: 1%;
  text-align: center;
}

.icons {
  justify-content: center;
}

.fa {
  margin-right: 3%;
}

/* ABOUT */

.card {
  color: black;
}

.appDiv {
  margin-top: 7px;
  /* width: auto; */
  /* text-align: center; */
  /* background-color: coral; */
}
.card-body {
  /* overflow: auto; */
  /* width: 100%;
  height: 100%; */
  /* background-color: rgb(246, 243, 237); */
  /* min-height: 30px;
  max-height: 40px;
  background-color: blueviolet;
  text-align: center; */
  /* background-color: black; */

  /* position: relative; */
  /* margin: 0; */
}
.card-title {
  /* margin-top: 10px; */
  margin-bottom: 5px;
}

.carouselTitle {
  /* text-decoration: underline; */
  margin-top: 0;

  margin-bottom: 10px;
}

.mobileImg {
  margin: 0 3px 0 3px;
  width: 32.5%;
  /* min-height: 90px; */
  min-width: 45px;
  border-radius: 5px;
  margin-top: -10px;
}

.appCards {
  background-color: rgb(246, 243, 237);
  overflow: auto;
  padding-top: 5px;
  width: 15rem;
  min-height: 15rem;
  max-height: 15rem;
  display: inline-block;
  margin: 1%;
}

.imgCard {
  background-color: black;
  color: whitesmoke;
  /* background-color:rgb(26, 24, 24); */
  display: inline-block;
  text-align: center;
}
.greeting {
  margin-top: 3px;
  background-color: none;
}

.appImg {
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 5px;
  /* height: 50%;
    width: 100%; */
}

.profileImg {
  width: 17rem;
  margin-bottom: 10px;
}

.buttonDiv {
  /* margin-left: auto; */
  /* margin-left: -11%; */
  /* margin: 0px auto; */
  /* margin-bottom: -20px;; */
  /* position: fixed; */
  /* background-color: blueviolet; */
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 5px;
}

.button {
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 100%;
  width: 40%;
}

#headshot {
  max-width: 100%;
  max-height: 100%;
  margin-left: 20%;
  float: left;
}

#aboutText {
  color: white;
  font-size: 2.2vw;
  float: left;
}

li {
  font-size: 2vw;
}

/* PORTFOLIO */

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
li {
  max-width: 18rem !important;
}

/* Decorations */
.col-xs-4 {
  color: #fff;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 18px;
}
.col-xs-4:nth-child(3n + 1) {
  background: #c69;
}
.col-xs-4:nth-child(3n + 2) {
  background: #9c6;
}
.col-xs-4:nth-child(3n + 3) {
  background: #69c;
}

.carousel-item {
  text-align: center;
}

.portfolioCard {
  padding-top: 10px;
  background-color: rgb(246, 243, 237);
  display: inline-block;
  text-align: center;
  width: 60%;
}
.portolioButtonDiv {
  text-align: center;
  margin-top: 2.5vw;
}

/* RESUME */

h6,
h1,
h2 {
  text-align: center;
}

.pdf {
  display: block;
  margin: auto;
}

/* CONTACT */

li {
  line-height: 2vw;
}

#contact-form {
  margin-left: 4vw;
}

.contactInfo {
  margin-top: 3.5vw;
  margin-right: 4vw;
  margin-left: 2vw;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 375px) {
  .profileImg {
    width: 15rem;
  }

  .appCards {
    width: 10rem;
    /* min-height: 13rem; */
    max-height: 13rem;
  }
  .portfolioCard {
    display: inline-block;
    width: 77%;
  }
  .contactInfo {
    margin-top: 0vw;
    margin-right: 0vw;
  }
  #contact-form {
    margin-left: 0vw;
  }
}

@media only screen and (max-width: 414px) {
  .profileImg {
    width: 15rem;
  }
  .appDiv {
    /* text-align: cent÷er; */
    overflow-x: hidden;
    overflow-y: auto;
    /* overflow-y: auto; */
    height: 425px;
    width: 75%;
    /* background-color: blue; */
  }
  .appCards {
    /* make scrolable */
    min-width: 250px;
    min-height: 250px;
  }
  .portfolioCard {
    display: inline-block;
    width: 77%;
  }
  p {
    font-size: 5vw;
  }

  .contactInfo {
    margin-top: 0vw;
    margin-right: 0vw;
    display: inline-block;
  }
  #contact-form {
    margin-left: 0vw;
  }
}

@media only screen and (max-width: 767px) {
  .contactInfo {
    margin-top: 0vw;
    margin-right: 0vw;
    display: inline-block;
  }
}

@media only screen and (max-width: 993px) {
  .contactInfo {
    margin-top: 3.5vw;
    margin-right: 0vw;
  }
}

@media only screen and (min-width: 993px) {
  .imgCard {
    margin: 1%;
    display: inline-block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
